<article>
    <header>
        <h2></h2>
        <p>
            {{ 'post.on' | trans }}<time datetime="{{ post.createdAt | date('c')}}">{{post.createdAt | date}}</time>        
            {{ 'by' | trans }} <a href="#">{{ post.author.name }}</a>
        </p>
    </header>

    <p>{{ post.body }} &#8212; <a href="#">{{ 'read.more' | trans }}</a>&raquo;</p>
</article>